// 1. Your custom variables and variable overwrites.
// Font
$global-font-family:                            'Roboto', Arial, sans-serif;
//
// Colors
//

$global-link-color:                             #b00c16;
$global-link-hover-color:                       #b00c16;

$global-inverse-color:                          #fff;

$global-background:                              #fff;

$global-muted-background:                        #cccccc;
$global-primary-background:                      #b00c16;
$global-secondary-background:                    #00B2A9;

/*Navbar*/
$navbar-background:                             $global-primary-background;

/*Inverse*/
$inverse-global-color:                          fade($global-inverse-color, 100%);
$inverse-global-emphasis-color:                 $global-inverse-color;
$inverse-global-muted-color:                    fade($global-inverse-color, 90%);
$inverse-global-inverse-color:                  $global-color;

$inverse-global-primary-background:             $global-inverse-color;
$inverse-global-muted-background:               fade($global-inverse-color, 10%);

$inverse-global-border:                         fade($global-inverse-color, 20%);

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//Card hook
//
@mixin hook-card(){
    border-bottom: 3px solid $global-primary-background;
};

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";